

@media screen and (max-width: 586px) {

  .container main .whats-happening .post-icons .second-post-icons button {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    width: 55%;
  }
}

.container main .whats-happening .post-icons i {
  display: inline-block;
  padding: 10px;
  color: #328ef1;
}


.freind {
  text-align: right;
  margin: 170px;
  margin-top: -650px;
  font-weight: bold;
}
.my-friend {
  text-align: right;
  margin: 110px;
  margin-top: -145px;
}

